face-recognition-env/
data
inference
.ipynb_checkpoints
Resources
test
weights/*
__pycache__
temp
*.pt
/node_modules
faces
traced_model.pt
lightning_logs

# Ignore virtual environment
venv/
face-recognition-env/

# Ignore other large or unnecessary files
*.log
*.pyc
__pycache__/
.DS_Store

# Ignore large datasets, weights, or model files
*.pt
*.h5
*.model
*.weights

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore large files
*.so
*.dylib
*.pt
*.h5
*.weights
